/* Fondo general de la ventana */
.root{
    -fx-background-color:linear-gradient(
        to bottom right,
        #05010f,
        #0d0430,
        #001a3d
    );
    -fx-font-family:"Segoe UI";
}


.etiqueta{
    -fx-font-size:16px;
    -fx-font-weight:bold;
    -fx-text-fill:#eeeeff;
}


.campo{
    -fx-border-color:#4936a8;
    -fx-border-width:2px;
    -fx-background-color:#15112d;
    -fx-text-fill:#ffffff;
    -fx-prompt-text-fill:#777399;

    -fx-border-radius:7px;
    -fx-background-radius:7px;

    -fx-padding:6 10 6 10;
}

.campo:hover{
    -fx-border-color:#7c4dff;
}

/* Campo seleccionado */
.campo:focused{
    -fx-border-color:#00f5d4;
    -fx-effect:dropshadow(gaussian, #00f5d4, 12, 0.4, 0, 0);
}


.link{
    -fx-font-size:10px;
    -fx-font-family:"IMPACT";
    -fx-text-fill:#00f5d4;
    -fx-cursor:hand;
}

.link:hover{
    -fx-text-fill:#9b6cff;
}

.link:pressed{
    -fx-text-fill:#ff4f91;
}


#btn-login{
    -fx-background-color:linear-gradient(to right, #00c9a7, #00f5d4);
    -fx-border-color:#00f5d4;

    -fx-text-fill:#07101c;
    -fx-font-size:12px;
    -fx-font-weight:bold;

    -fx-border-width:2px;
    -fx-border-radius:8px;
    -fx-background-radius:10px;
    -fx-padding:8 20 8 20;

    -fx-effect:dropshadow(gaussian, #00c9a7, 12, 0.25, 0, 0);
    -fx-cursor:hand;
}


#btn-login:hover{
    -fx-background-color:linear-gradient(to right, #7c4dff, #a66cff);
    -fx-border-color:#00f5d4;
    -fx-text-fill:white;

    -fx-effect:dropshadow(gaussian, #7c4dff, 15, 0.4, 0, 0);
}


#btn-login:pressed{
    -fx-background-color:#241354;
    -fx-border-color:#00f5d4;
    -fx-text-fill:#00f5d4;

    -fx-effect:none;
}