/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 ago 2026, 10:17:34
    Author     : vh- Middle Developer
*/
.form-register{
    -fx-background-color: #6666ff;
}

.form-register label{
    -fx-text-fill:white;
    -fx-font-size:16px;
}
.form-register TextField , .form-register PasswordField{
    -fx-border-color: skyblue;
    -fx-border-width: 2px;
    -fx-border-radius:5px;
    -fx-background-color:white;
}

